<div class="playground-menu">
  <div class="cloud playground-menu-item" [ngClass]="{selected:selected==='Algorithms'}" (click)="select('Algorithms')">
    <a class="playground-item-label">{{'Algrím'|translate:language}}</a>
  </div>
</div>
<div [ngSwitch]='selected' >
  <div *ngSwitchWhen="'Algorithms'">
    <h1>playground</h1>
    <p>playground is an alpin skiing and frisbee discipline, involving throwing and catching a frisbee while skiing down slopes.</p>
    <p>This website is the official website for information and promotion of the sport.</p>
    <h1>History</h1>
    <p>In 2012 Einar Beinteinn Árnason and Ólafur Torfi Yngvason started playing with a frisbee while on a skitrip to Hlíðarfjall Akureyri.</p>
    <p>In early 2015 the playground website was launched.</p>
    <h1>Goals</h1>
    <p>To spread knowledge about playground</p>
    <p>To make the official playground disk allowed in as many skislopes as possible (or prevent it from being banned</p>
  </div>
</div>
