.playground-menu{
  margin-top: 6em;
  text-align: center;
  display:flex;
  justify-content: space-around;
}
.playground-item-label{
  z-index:4;
  position:relative;
  line-height: 2em;
  font-weight: bold;
  font-size: 1.4em;
  color: #55a;
}
.selected {
  transform:scale(1.7);
  margin-top:2em;
}
.playground-menu-item:hover {
  transform:scale(1.4);
  cursor:pointer;
}
.cloud-button {
  border-radius: 1em;
  padding:.5em;
  background-color: white;
  border: none;
  margin: .5em 1em;
}
.cloud-button:hover {
  box-shadow: 2px 2px #aaF;
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.array-element {
  display: inline-block;
  margin-right: 2px;
  padding:2px;
  background-color: #fff;
  border-radius: 2px;
}
@media screen and (max-width: 1000px) {
  .playground-menu-item{
    transform : scale(0.7)
  }
  .selected {
    transform:scale(0.9);
    margin-top:2em;
  }
  .playground-menu-item:hover {
    transform:scale(1.2);
    cursor:pointer;
  }
}
@media screen and (max-width: 540px) {
  .playground-menu-item{
    transform : scale(0.4)
  }
  .selected {
    transform:scale(0.7);
    margin-top:2em;
  }
  .playground-menu-item:hover {
    transform:scale(0.5);
    cursor:pointer;
  }
}
